## Primera parte

In [59]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

# Load environment variables

# 1) Connect to the database with SQLAlchemy
def connect():
    global engine
    try:
        connection_string = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}/{os.getenv('DB_NAME')}"
        print("Starting the connection...")
        engine = create_engine(connection_string, isolation_level="AUTOCOMMIT")
        engine.connect()
        print("Connected successfully!")
        return engine
    except Exception as e:
        print(f"Error connecting to the database: {e}")
        return None
engine = connect()

if engine is None:
    exit()

Starting the connection...
Connected successfully!

## Segunda parte

In [60]:
# inserta la informacion de "create.sql" directamente desde el archivo
with engine.connect() as connection:
    with open ("/workspaces/connecting-to-a-sql-database-project-tutorial/src/sql/create.sql") as file:
        query = text(file.read())
        connection.execute(query)

## Tercera parte

In [61]:
# Inserta la informacion de "insert.sql" directamente
with engine.connect() as connection:
    with open ("/workspaces/connecting-to-a-sql-database-project-tutorial/src/sql/insert.sql") as file1:
        query1 = text(file1.read())
        connection.execute(query1)

## Cuarta Parte

In [62]:
df = pd.read_sql("SELECT * FROM publishers;", engine)
df1 = pd.read_sql("Select * from authors;", engine)
df2 = pd.read_sql("Select * from books;", engine)
df3 = pd.read_sql("Select * from book_authors;", engine)
print(df)
print(df1)
print(df2)
print(df3)

   publisher_id             name
0             1   O Reilly Media
1             2     A Book Apart
2             3       A K PETERS
3             4   Academic Press
4             5   Addison Wesley
5             6  Albert&Sweigart
6             7  Alfred A. Knopf
   author_id first_name middle_name  last_name
0          1    Merritt        None       Eric
1          2      Linda        None        Mui
2          3     Alecos        None  Papadatos
3          4    Anthony        None   Molinaro
4          5      David        None     Cronin
5          6    Richard        None       Blum
6          7      Yuval        Noah     Harari
7          8       Paul        None     Albitz
   book_id                                              title  total_pages  \
0        1        Lean Software Development: An Agile Toolkit          240
1        2                  Facing the Intelligence Explosion           91
2        3                                    Scala in Action          419
3        4  Patterns of Software: Tales from the Software ...          256
4        5                                    Anatomy Of LISP          446
5        6               Computing machinery and intelligence           24
6        7                       XML: Visual QuickStart Guide          269
7        8                                       SQL Cookbook          595
8        9  The Apollo Guidance Computer: Architecture And...          439
9       10  Minds and Computers: An Introduction to the Ph...          222

   rating           isbn published_date  publisher_id
0    4.17  9780320000000     2003-05-18             5
1    3.87           None     2013-02-01             7
2    3.74  9781940000000     2013-04-10             1
3    3.84  9780200000000     1996-08-15             1
4    4.43  9780070000000     1978-01-01             3
5    4.17           None     2009-03-22             4
6    3.66  9780320000000     2009-01-01             5
7    3.95  9780600000000     2005-12-01             7
8    4.29  9781440000000     2010-07-01             6
9    3.54  9780750000000     2007-02-13             7
   book_id  author_id
0        1          1
1        2          8
2        3          7
3        4          6
4        5          5
5        6          4
6        7          3
7        8          2
8        9          4
9       10          1

In [63]:
with engine.connect() as connection:
    connection.execute(text("""
DROP TABLE IF EXISTS publishers CASCADE;
DROP TABLE IF EXISTS authors CASCADE;
DROP TABLE IF EXISTS books CASCADE;
DROP TABLE IF EXISTS book_authors CASCADE;
"""))